*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    background-image: url("./halftone-background-with-circles_23-2148907689.avif");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: red;
    font-weight: 700;
    border: 2px solid aqua;
    margin: 15px;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.bt1{
    width: 190px;
    height: 55px;
    margin: 10px;
    background-color: skyblue;
    border: solid 5px aqua;
    border-radius: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.bt1:hover{
    box-shadow: 0 0 5px aqua,
    0 0 5px aqua,
     0 0 25px aqua,
    0 0 1px aqua,
     0 0 25px aqua 
}
.bt1:active{
    background-color: aqua;
}